@model List<Emprestimo>
@{
    ViewData["Title"] = "Listagem de Empréstimos";
    //reupera os dados da Controller
    int FiltroPorPag = Int32.Parse(ViewData["livrosPorPagina"].ToString());
    int PaginaAtual = Int32.Parse(ViewData["PaginaAtual"].ToString());

    int NumLivrosPorPag = (Model.Count < FiltroPorPag ? Model.Count : FiltroPorPag);

    int NumTotalDePag = 0;
    @if (NumLivrosPorPag > 0)
    {
        NumTotalDePag = Model.Count / NumLivrosPorPag + (Model.Count % NumLivrosPorPag == 0 ? 0 : 1);
    }
}

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="POST">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Usuario">Usuário</option>
                    <option value="Livro">Livro</option>
                </select>
            </div>
            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
            </div>

             <div class="form-group mb-2 mx-sm-3">
                <select class="form-control" name="itensPorPagina" id="itensPorPagina">
                    <option value="10">10 livros</option>
                    <option value="20">20 livros</option>
                    <option value="30">30 livros</option>
                    <option value="40">40 livros</option>
                    <option value="50">50 livros</option>
                    <option value=@Model.Count>Todos</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            @if (Model.Count > 0)
            {
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Data Empréstimo</th>
                        <th>Data Devolução</th>
                        <th>Livro</th>
                        <th>Autor</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = (PaginaAtual - 1) * NumLivrosPorPag; i < (NumLivrosPorPag * PaginaAtual < Model.Count
                   ? NumLivrosPorPag * PaginaAtual : Model.Count); i++)
                    {
                        string classe ="";
                        DateTime dataAtual = DateTime.Now;
                        if (Model[i].DataDevolucao < dataAtual && Model[i].Devolvido == false)
                        {
                            classe = "table-danger";
                        }else{
                            classe = "";
                        }
                        <tr class="@classe">
                            <td>@Model[i].Id</td>
                            <td>@Model[i].NomeUsuario</td>
                            <td>@Model[i].DataEmprestimo.ToString("dd/MM/yyyy")</td>
                            <td>@Model[i].DataDevolucao.ToString("dd/MM/yyyy")</td>
                            <td>@Model[i].Livro.Titulo</td>
                            <td>@Model[i].Livro.Autor</td>
                            <td><a href="/Emprestimo/Edicao/@Model[i].Id">Editar</a></td>
                        </tr>
                    }
                </tbody>
            }
            else
            {
                <h4>Sem registro de empréstimos!</h4>

            }

        </table>
         <div id="SeletorPaginas" class="text-center">
            @for (int i = 1; i < NumTotalDePag; i++)
            {
                <span class="form-group mb-1 mx-sm">

                    <a href="/Livro/Listagem?PaginaAtual=@i" type="button" class="btn btn-secondary">@i </a>

                </span>
            }
            </span>
        </div>
    </div>
</div>
